<div class="w-full max-w-md">

<img class="mx-auto" src="/web-2fa/img/logo.png">
<h2 class="text-center font-bold text-green-900 my-5">
  {{ trans .lang "change_password_title"}}
</h2>
<form id="form-password-change">
  <div><input class="mb-1 appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
        type="password" name="newpassword" id="newpassword" placeholder="new password" minlength="8"></div>
  <div><input class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
     type="password" name="newpasswordcheck" id="newpasswordcheck" placeholder="new password (check)"></div>
  <p class="my-2 hidden" id="form-info"></p>
  <p class="my-2 hidden text-red-500" id="form-error"></p>
  <button type="submit" class="mt-2 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 disabled:opacity-50 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    {{ trans .lang "submit"}}
  </button>
</form>
</div>

<script>(function(){
var PASSWORD_NO_MATCH = '{{ trans .lang "password_no_match"}}';
var form = document.getElementById('form-password-change');
var submit_button = form.querySelector('button[type="submit"]');
var error = document.getElementById('form-error');
var info = document.getElementById('form-info');
var p1 = document.getElementById('newpassword');
var p2 = document.getElementById('newpasswordcheck');

form.addEventListener('submit', function(e){
  e.preventDefault();
  error.classList.add('hidden');

  if (p1.value != p2.value) {
    error.innerText = PASSWORD_NO_MATCH;
    error.classList.remove('hidden');
    return;
  }

  submit_button.disabled = true;
  fetch(location.pathname, {method: 'POST', body: new FormData(e.target)})
    .then(function(response){
      if (!response.ok) {
        response.text().then(function(data){
          error.innerText = data;
          error.classList.remove('hidden');
        })
        submit_button.disabled = false;
      } else {
        location.replace(location.origin + '/');
      }
    }).catch(function(error){
      console.error(error);
      submit_button.disabled = false;
    });
});

})();</script>
