<form id="form-password-change">
  <div><input type="password" name="newpassword" id="newpassword" placeholder="new password"></div>
  <div><input type="password" name="newpasswordcheck" id="newpasswordcheck" placeholder="new password (check)"></div>
  <p class="hidden" id="form-info"></p>
  <p class="hidden red" id="form-error"></p>
  <button type="submit">Submit</button>
</form>
<script>(function(){
var form = document.getElementById('form-password-change');
var submit_button = form.querySelector('button[type="submit"]');
var error = document.getElementById('form-error');
var info = document.getElementById('form-info');
var p1 = document.getElementById('newpassword');
var p2 = document.getElementById('newpasswordcheck');

form.addEventListener('submit', function(e){
  e.preventDefault();
  submit_button.disabled = true;
  error.classList.add('hidden');

  if (p1.value != p2.value) {
    error.innerText = "Passwords are not identical";
    error.classList.remove('hidden');
    return;
  }

  fetch(location.pathname, {method: 'POST', body: new FormData(e.target)})
    .then(function(response){
      if (!response.ok) {
        response.text().then(function(data){
          error.innerText = data;
          error.classList.remove('hidden');
        })
        submit_button.disabled = false;
      } else {
        location.replace(location.origin + '/');
      }
    }).catch(function(error){
      console.error(error);
      submit_button.disabled = false;
    });
});

})();</script>
