<form id="form-password-reset">
  <div><input type="email" name="email" id="email" placeholder="email@example.com"></div>
  <p class="hidden" id="form-info"></p>
  <p class="hidden text-red-500" id="form-error"></p>
  <button type="submit">Submit</button>
</form>
<script>(function(){
var CHANGE_PASSWORD_TEXT = "You will receive an email to change your password if your account exists"
var form = document.getElementById('form-password-reset');
var submit_button = form.querySelector('button[type="submit"]');
var info = document.getElementById('form-info');
var error = document.getElementById('form-error');

form.addEventListener('submit', function(e){
  e.preventDefault();
  submit_button.disabled = true;
  
  fetch(location.pathname, {method: 'POST', body: new FormData(e.target)})
    .then(function(response){
      if (!response.ok) {
        response.text().then(function(data){
          error.innerText = data;
          error.classList.remove('hidden');
        })
        submit_button.disabled = false;
      } else {
        info.innerText = CHANGE_PASSWORD_TEXT;
        info.classList.remove('hidden');
      }
    }).catch(function(error){
      console.error(error);
      submit_button.disabled = false;
    })
});

})();</script>